<div>
    <h1>Routing con parámetros</h1>
    <button (click)="goToHome()">Ir a Home</button>
    <button (click)="redirect(66)">Doble 66</button>
    <button (click)="redirect(128)">Doble 128</button>
    <button (click)="redirect(322)">Doble 322</button>
    <div *ngIf="numero">
        <h1 style="color:blue">
            El doble de {{ numero }} es {{doble}}
        </h1>
    </div>
    <div *ngIf="!numero">
        <h1 style="color:red">
            No tenemos parámetro número
        </h1>
    </div>
</div>